<h1>Search venues</h1>

<% if @total_count %>
	<% if @category %>
		<h3><%= "#{@total_count} #{@category} found near #{params[:term]}" %></h3>
		<%= link_to 'All venues', search_path(term: params[:term]) %>
	<% else %>
		<h3><%= @total_count %> venues found near <%= params[:term] %></h3>
	<% end %>
<% end%>

<%= form_for :term, url: search_path, method: :get do |form| %>
	<p>
		Venues near
    <%= text_field_tag :term, params[:term] %>
    <%= submit_tag "Search", name: nil %>
	</p>
<% end %>

<hr/>

<div id='search-results'>
	<% @venues.each do |venue| %>
	  <div>
	    <h3><%= venue.name %></h3>
	    <% if venue.address %>
	      <p>Address: <%= venue.address %></p>
	    <% end %>
			<p>Distance: <%= number_to_human(venue.distance(@location), precision: 2, units: {unit: 'km'}) %></p>
			<p>Category:
				<% venue.categories.each do |c| %>
					<%= link_to c.name, search_path(term: params[:term], category: c.name) %>
				<% end %>
			</p>
		</div>
	<% end %>
</div>
